{% extends "base.html" %}

{% block contentBlock %}

<div class="container">    
  <div class="row content1">
  	<div class="col-6">
  		
  		<form action="/addcard" method="POST"><!--server name instead of action page-->
  			<label for="qn">Question:</label>
  			<input type="text" id="qn" name="qn"><br><br>
  			<label for="ans">Answer:</label>
  			<input type="text" id="ans" name="ans"><br><br>
  			<input type="submit" value="Add">
		</form>
		</div>
		
  </div>
</div><br><br>


{% endblock %}







