{% extends "base.html" %}

{% block contentBlock %}

<div class="container">    
  <div class="row">
    <div class="col-sm-4 offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Add flashcards</div>
        <div class="panel-body"><button class="btn btn-primary"><img src="plus_sign.png" class="img-responsive" style="width:100%" alt="Image"></button></div>
        
      </div>
    </div>
    <div class="col-sm-4 "> 
      <div class="panel panel-primary">
        <div class="panel-heading">Import text file</div>
        <div class="panel-body"><button class="btn btn-primary"><img src="plus_sign.png" class="img-responsive" style="width:100%" alt="Image"></button></div>
      </div>
    </div>
    
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Share flashcards</div>
        <div class="panel-body"><button class="btn btn-primary"><img src="plus_sign.png" class="img-responsive" style="width:100%" alt="Image"></button></div>
      </div>
    </div>
    <div class="col-sm-4 offset-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Find other flashcards</div>
        <div class="panel-body"><button class="btn btn-primary"><img src="plus_sign.png" class="img-responsive" style="width:100%" alt="Image"></button></div>
      </div>
    </div>
    
    </div>
  </div>
</div><br><br>

{% endblock %}