{% extends "base.html" %}

{% block contentBlock %}

<div class="container">    
  <div class="row">
    <div class="col-2 offset-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Add flashcards</div>

        <div class="panel-body"><a href="/0/addcards"><button class="btn btn-primary"><img src="{{ url_for('static', filename='plus_sign.png') }}" class="img-responsive" style="width:100%" alt="Image"></button></a></div>

        
      </div>
    </div>
    <div class="col-2 "> 
      <div class="panel panel-primary">
        <div class="panel-heading">Import text file</div>
        <div class="panel-body"><a href="/0/importtext"></a><button class="btn btn-primary"><img src="{{ url_for('static', filename='upload_button.png') }}" class="img-responsive" style="width:100%" alt="Image"></button></a></div>
        
      </div>
    </div>
    
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Share flashcards</div>
        <div class="panel-body"><a href="/0/sharecards"><button class="btn btn-primary"><img src="{{ url_for('static', filename='share_button.png') }}" class="img-responsive" style="width:100%" alt="Image"></button></a></div>
       
      </div>
    </div>
    <div class="col-sm-4 offset-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">View shared flashcards</div>
        <div class="panel-body"><a href="/0/viewshared"><button class="btn btn-primary"><img src="{{ url_for('static', filename='shared_cards.png') }}" class="img-responsive" style="width:100%" alt="Image"></button></a></div>
        
      </div>
    </div>
    
    </div>
  </div>
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 offset-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Play flashcards</div>
        <div class="panel-body"><a href="/0/playcards"><button class="btn btn-primary"><img src="{{ url_for('static', filename='play_cards.png') }}" class="img-responsive" style="width:100%" alt="Image"></button></a></div>
      </div>
      </div>
    </div>
    </div>

</div><br><br>

{% endblock %}