{% extends "base.html" %}

{% block contentBlock %}

<div>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/meme.css') }}"/>
  <script src="{{ url_for('static', filename='js/meme.js') }}"></script>
  <body>
    <div id="container">
      <div id="inner_container">
        <img id="image_shower"/>
      </div>
      <div id="button_container">
        <button onclick="get_random_image()">meme!<i class="fas fa-random"></i> </button>
      </div>
    </div>
  </body>
</div><br><br>

{% endblock %}