<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */ 
      .navbar {
        margin-bottom: 50px;
        border-radius: 0;
      }
      
      /* Remove the jumbotron's default bottom margin */ 
      .jumbotron {
        margin-bottom: 0;
      }
    
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Study App</h1>      
        <p>Review study content</p>
      </div>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            
            <li><a href="#">View my flashcards</a></li>
            <li><a href="#">Relax space</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
        </div>
      </div>
    </nav>
<div class="container">    
  <div class="row justify-content-center ">
    <div class="col-sm-4 justify-content-center">
      <div class="panel panel-primary">
        <div class="panel-heading">QUESTION </div>
        <div class="panel-body">
        <!--enter q here-->
        	<p> Why is the Earth not flat? </p>
        </div>
      </div>
    </div>
    
    
  </div>
</div><br>

<div class="container">    
  <div class="row justify-content-center">
    <div class="col-sm-4">

      <div  id="myDiv" style="display:none;" class="panel panel-primary">
        <div class="panel-heading">ANSWER</div>
        <div class="panel-body"> 
        <!--enter a here-->
        	<p> Because it is round </p>
        </div>
      </div>
      <input type="button" name="answer" value="View Answer" onclick="ShowDiv()" />
    </div>
    
  </div>
</div><br><br>


<div class="container">
<div class="row  justify-content-center">
<div class="col-6">
<button onclick="correctAns()">Correct</button>
</div>
<div class="col-6">
<button onclick="wrongAns()">Incorrect</button>
</div>
</div>
<p>Correct: <a id="correct">0</a></p>
<p>Incorrect: <a id="wrong">0</a></p>
</div>
<script>
var correct=0;
var wrong=0;
function correctAns() {
  correct+=1;
  document.getElementById("correct").innerHTML = correct;
};
function wrongAns() {
  wrong+=1;
  document.getElementById("wrong").innerHTML = wrong;
};
function ShowDiv() {
    document.getElementById("myDiv").style.display = "";
};
</script>
</body>
</html>



