{% extends "base.html" %}

{% block contentBlock %}

<div class="container">    
  <div class="row justify-content-center ">
    <div class="col-sm-4 justify-content-center">
      <div class="panel panel-primary  style='width: 200px;'">
        <div class="panel-heading style='width: 200px;'">QUESTION </div>
        <div class="panel-body style='width: 200px;'">
        <!--enter q here-->
        	<p> Why is the Earth not flat? </p>
        </div>
      </div>
    </div>
    
    
  </div>
</div><br>

<div class="container">    
  <div class="row justify-content-center">
    <div class="col-sm-4">

      <div  id="myDiv" style="display:none;" class="panel panel-primary">
        <div class="panel-heading">ANSWER</div>
        <div class="panel-body"> 
        <!--enter a here-->
        	<p> Because it is round </p>
        </div>
      </div>
      <input type="button" name="answer" value="View Answer" onclick="ShowDiv()" />
    </div>
    
  </div>
</div><br><br>


<div class="container">
<div class="row  justify-content-center">
<div class="col-6">
<button onclick="correctAns()">Correct</button>
</div>
<div class="col-6">
<button onclick="wrongAns()">Incorrect</button>
</div>
</div>
<p>Correct: <a id="correct">0</a></p>
<p>Incorrect: <a id="wrong">0</a></p>
</div>
<script>
var correct=0;
var wrong=0;
function correctAns() {
  correct+=1;
  document.getElementById("correct").innerHTML = correct;
};
function wrongAns() {
  wrong+=1;
  document.getElementById("wrong").innerHTML = wrong;
};
function ShowDiv() {
    document.getElementById("myDiv").style.display = "";
};
</script>
{% endblock %}



