{% extends "base.html" %}

{% block contentBlock %}

<div class="container">    
  <div class="row content1">
  	<div class="col-6">
  		<div class="panel panel-primary">
        <div class="panel-heading">Type a valid email</div>
        <div class="panel-body"> 
        <form action="/action_page.php"><!--server name instead of action page-->
        <label for="email">Share email:</label>
        <input type="text" id="email" name="email"><br><br>
        
        <input type="submit" value="send">
    </form>
  		
		</div>
		
  </div>
</div><br><br>

{% endblock %}







